/*********** 
    Geral 
***********/
* {
  background-color: #22212c;
  color: #837e9f;
  font-family: "Merriweather Sans", sans-serif;
  box-sizing: border-box; /*Faz com que a caixa/div/qualquer coisa se encaixe dentro do margem*/
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "aside main"
    "footer footer";
  gap: 10px;
  grid-template-columns: 29% 70%;
}

/*********** 
    Aside 
***********/
aside {
  grid-area: aside;
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

aside > div {
  background-color: #302f3d;
  width: 348px;
  margin-top: 30px;
  border-radius: 10%;
  padding: 2px;
  box-shadow: 3px 4px 3px #1b1b24;
}

aside > #name > img {
  border-radius: 50%;
  border: solid 2px rgb(180, 80, 13);
  width: 50%;
  height: 60%;
  display: block;
  margin: 20px auto;
}

aside > #name > h1 {
  background-color: #302f3d;
  font-size: 23px;
  text-align: center;
  margin-bottom: 5px;
}

aside > #name > h2 {
  background-color: #302f3d;
  font-size: 13px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

aside > #address > ul,
aside > #address > ul > li,
aside > #address > ul > li > i {
  list-style: none;
  background-color: #302f3d;
}

aside > #address > ul {
  font-size: 13px;
  margin: 10px;
  padding-left: 20px;
}

aside > #address > ul > li > i {
  margin: 13px;
}

aside > #technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
}

aside > #technologies > h1,
aside > #technologies > div {
  background-color: #302f3d;
}

aside > #technologies > h1 {
  font-size: 20px;
  flex: 1 0 100%;
}

aside > #technologies > div {
  background-color: #cb92b1;
  color: black;
  border-radius: 20px;
  font-size: 13px;
  flex-grow: 1;
  flex-basis: 80px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

aside > #experiences > h1,
aside > #experiences > ul,
aside > #experiences > ul > li,
aside > #experiences > ul > div {
  background-color: #302f3d;
}

aside > #experiences > h1 {
  font-size: 20px;
  margin: 25px;
}

aside > #experiences > ul {
  font-size: 17px;
  font-weight: bold;
  margin: 20px 30px;
}

aside > #experiences > ul > div {
  font-size: 12px;
}

aside > #experiences > ul > .ultima {
  margin-bottom: 15px;
}

aside > #education > h1,
aside > #education > ul,
aside > #education > ul > li,
aside > #education > ul > div {
  background-color: #302f3d;
}

aside > #education > h1 {
  font-size: 20px;
  margin: 25px;
}

aside > #education > ul {
  font-size: 17px;
  font-weight: bold;
  margin: 20px 30px;
}

aside > #education > ul > div {
  font-size: 12px;
}

aside > #education > ul > .ultima {
  margin-bottom: 15px;
}

/*********** 
    Main 
***********/
main > div {
  margin-top: 30px;
}

main > div,
main > div > div {
  grid-area: main;
  display: flex;
  background-color: #302f3d;
  border-radius: 20px;
  padding: 2px;
  width: 95%;
}

main > #projects {
  padding: 30px;
  box-shadow: 3px 4px 3px #1b1b24;
}

main > #projects > .item1 {
  font-size: 20px;
}

main > #projects > .item2 {
  justify-content: end;
  align-items: center;
  font-size: 14px;
}

main > #myOnix {
  background-color: #22212c;
  border-radius: 20px;
  padding: 2px;
}

main > #myOnix > .myOnix1 {
  flex-direction: column;
  padding: 15px 2px;
  box-shadow: 3px 4px 3px #1b1b24;
}

main > #myOnix > .myOnix1:nth-child(1) {
  margin-right: 25px;
}

main > #myOnix > .myOnix1 > h1,
main > #myOnix > .myOnix1 > h1 > i,
main > #myOnix > .myOnix1 > p,
main > #myOnix > .myOnix1 > ul > li,
main > #myOnix > .myOnix1 > ul > li > i {
  background-color: #302f3d;
}

main > #myOnix > .myOnix1 > h1 {
  font-size: 16px;
  margin: 15px 30px;
}

main > #myOnix > .myOnix1 > h1 > i {
  margin-right: 15px;
}

main > #myOnix > .myOnix1 > p {
  font-size: 14px;
  margin: 15px 30px;
}

main > #myOnix > .myOnix1 > ul {
  display: flex;
  background-color: #302f3d;
  margin: 0 10px;
  padding-left: 0;
}

main > #myOnix > .myOnix1 > ul > li {
  font-size: 14px;
  padding: 15px 30px;
  list-style: none;
}

main > #myOnix > .myOnix1 > ul > li > i {
  margin-right: 15px;
}

main > #myOnix > .myOnix1 > ul > li:nth-child(3) > i {
  color: #e7de79;
  border: solid 2px #837e9f;
  border-radius: 50%;
}

main > #recentPosts {
  padding: 30px;
  font-size: 20px;
  box-shadow: 3px 4px 3px #1b1b24;
}

main > #erro {
  box-shadow: 3px 4px 3px #1b1b24;
}

main > #erro > img,
main > #erro > .item > h1,
main > #erro > .item > h3,
main > #erro > .item > h2,
main > #erro > .item > ul,
main > #erro > .item > ul > li {
  background-color: #302f3d;
}

main > #erro > img {
  border-radius: 50%;
  width: 15%;
  margin: 20px;
}

main > #erro > .item {
  flex-direction: column;
  margin: 20px 10px;
}

main > #erro > .item > h1 {
  font-size: 20px;
  padding-bottom: 7px;
}

main > #erro > .item > h3 {
  font-size: 12px;
  padding-bottom: 30px;
}

main > #erro > .item > h2 {
  font-size: 17px;
  padding-bottom: 7px;
}

main > #erro > .item > ul {
  display: flex;
  padding: 0;
}

main > #erro > .item > ul > li {
  font-size: 13px;
  list-style: none;
  padding-right: 20px;
}

/*********** 
    Footer 
***********/
footer {
  /* background-color: red; */
  grid-area: footer;
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > i {
  margin: 15px;
}
